{% extends 'base/base.html' %}

{% block content %}

<table class="table table-bordered">
    <thead>
        <tr>
            <td>#</td>
            <td>Nombre Receta</td>
            <td>Tipo de receta</td>
            <td>Dueño de la receta</td>
            <td>Pasos</td>
            <td>Ingredientes</td>
            <td>Descripcion</td>
            <td>Imagen</td>
            <td>Acciones</td>
        </tr>
    </thead>
    <tbody>
        {% if object_list %}
        {% for recetas in object_list %}
        <tr>
            <td>{{ recetas.id }}</td>
            <td>{{ recetas.receta }}</td>
            <td>{{ recetas.tipo.nombre }}</td>
            <td>{{ recetas.chef.nombres }} {{ recetas.chef.apellidos }}</td>
            <td>{{ recetas.pasos }}</td>
            <td>{{ recetas.ingredientes }}</td>
            <td>{{ recetas.descripcion }}</td>

            <td>
                {% if recetas.imagen %}
                    <img src="{{ recetas.imagen.url }}" alt="Imagen de la receta" style="max-width: 100px; max-height: 100px;">
                {% else %}
                    No hay imagen
                {% endif %}
            </td>
            <td>
                <a class="btn btn-primary" href="{% url 'recetas_editar' recetas.id %}">Editar</a>
                <a class="btn btn-danger" href="{% url 'recetas_eliminar' recetas.id %}">Eliminar</a>
                <a class="btn btn-success" href="{% url 'receta_detalle' recetas.id %}">Ver</a>
            </td>
        </tr>
        {% endfor %}

        {% else %}
        <h1>No hay registros de recetas</h1>
        {% endif %}
    </tbody>
</table>
<ul class="pager">
    <li>
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">Atras</a>
        {% endif %}
    </li>
    <li>
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
        {% endif %}
    </li>
</ul>

{% endblock %}