{% extends 'base/base.html' %}

{% block content %}
<h1>{{ receta.receta }}</h1>
<p><strong>Tipo de receta:</strong> {{ receta.tipo.nombre }}</p>
<p><strong>Deño de la receta:</strong> {{ receta.chef }}</p>
<p><strong>Pasos:</strong> {{ receta.pasos }}</p>
<p><strong>Ingredientes:</strong> {{ receta.ingredientes }}</p>
<p><strong>Descripción:</strong> {{ receta.descripcion }}</p>

{% if receta.imagen %}
    <img src="{{ receta.imagen.url }}" alt="Imagen de la receta" style="max-width: 300px; max-height: 300px;">
{% else %}
    <p>No hay imagen disponible</p>
{% endif %}

<a class="btn btn-default" href="{% url 'recetas_listar' %}">Volver</a>
{% endblock %}