{% extends 'base/base.html' %}

{% block content %}
    <h2>Chefs Registrados</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Tipo de Documento</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Correo Electrónico</th>
                <th>Nombre de Usuario</th>
                <th>Celular</th>
                <th>Instagram</th>
            </tr>
        </thead>
        <tbody>
            {% if chefs %}
                {% for chef in chefs %}
                    <tr>
                        <td>{{ chef.tipo_documento }}</td>
                        <td>{{ chef.nombres }}</td>
                        <td>{{ chef.apellidos }}</td>
                        <td>{{ chef.email }}</td>
                        <td>{{ chef.username }}</td>
                        <td>{{ chef.celular }}</td>
                        <td>{{ chef.instagram }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5">No hay chefs registrados.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}
